* {
  /* border: 1px black solid; */
}
.App {
  text-align: center;
  background-color: lightgray;
  font-family: "Noto Sans", sans-serif;
  max-width: 100%;
}

img {
  width: 100%;
}

.mainDivs {
  width: 100%;
}

.mainFlexBox {
  display: flex;
  padding: 3% 0 3% 0;
}
.mainFlexBox,
.mainDivs * {
  /* border: 0.5px black solid; */
  margin: auto 0;
}

h1,
h2,
h3,
h4 {
  padding-left: 2%;
}
p {
  padding-left: 4%;
  padding-right: 4%;
}

/* Navbar styling */
#navbarDiv {
  max-height: 10%;
}

#navbarFlexBox {
  flex-direction: row;
  justify-content: space-between;
}

#navbarLogo {
  display: flex;
  white-space: nowrap;
}
#navbarLogo h3 {
}

#navbarDiv img {
  width: 10vh;
  height: auto;
}

#hamburgerIcon {
  padding: 20px;
}

/* Style the Hero component */
.header {
  text-align: left;
}

#heroFlexBox {
  flex-flow: column;
}

#heroFlexBox h3 {
  text-align: left;
}

/* Style the PartnersSection component */
#partnersFlexBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  justify-content: center;
  padding: 3% 7% 3% 7%;
}
#partnersFlexBox img {
  max-width: 28%;
  object-fit: contain;
  margin: 0 auto;
}

/* Style the MissionStatement component */
#missionStatementFlexBox {
  flex-flow: column;
}

.img-wrapper {
  overflow: hidden;
}
#missionStatementFlexBox img,
#heroFlexBox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
#missionStatementFlexBox:hover img,
#heroFlexBox:hover img {
  transform: scale(1.5) translateY(10%);
}
#missionStatementTextFlexBox {
  display: flex;
  flex-flow: column;
  height: fit-content;
}
#missionStatementTextFlexBox h2,
#missionStatementTextFlexBox p {
  text-align: left;
}

/* Style the VerticalTiles component */
#verticalTilesFlexBox {
  flex-flow: row wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.verticalTilesCards {
  display: flex;
  max-width: 80%;
  flex-flow: column;
  justify-content: left;
  padding: 1vh;
  border: 1px solid black;
}

.verticalTilesCards * {
  margin: auto 0;
}
