* {
  border: 1px black solid;
}
.App {
  text-align: center;
  background-color: lightgray;
  font-family: "Noto Sans", sans-serif;
  max-width: 100%;
}

img {
  width: 100%;
}

.mainDivs {
  width: 100%;
}

.mainFlexBox {
  display: flex;
}

/* Navbar styling */
#navbarDiv {
  max-height: 10%;
}

#navbarFlexBox {
  flex-direction: row;
  justify-content: space-between;
}

#navbarLogo {
  display: flex;
}
#navbarLogo h3 {
  align-self: baseline;
}

#navbarDiv img {
  width: 10vh;
  height: auto;
}

#hamburgerIcon {
  padding: 20px;
}

/* Style the Hero component */
.header {
  text-align: left;
}

#heroFlexBox {
  flex-flow: column;
}

#heroFlexBox h3 {
  text-align: left;
}

/* Style the PartnersSection component */
#partnersFlexBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#partnersFlexBox img {
  max-width: 25%;
  object-fit: contain;
}

/* Style the VerticalTiles component */
#verticalTilesFlexBox {
  flex-flow: column wrap;
}
